body{
    /* background-color: bisque; */
    height: 100vh;
    background-image: url('../images/image2.jpg');
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-image: linear-gradient(to top left, pink, skyblue, rgb(250,250,158));
    background-image: radial-gradient(pink, skyblue, rgb(250,250,158));
    
}
p {
    color: white;
    font-size: 30px;
    /* left top blur color */
    text-shadow: 2px 1px 3px rgb(66,66,3);
}