body {
    background-color: aqua;
}
p {
    background-color: yellow;
    width: 200px;
}
span {
    background-color: pink;
    width: 100px;
}
p,span {
    font-size: 25px;
    color: royalblue;
    font-weight: bold;
    font-style: italic;
}
.color{
    background-color: rgb(6,6,84);
    color: rgb(250,250,151);
}
.font{
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
#heading{
    font-size: 45px;
}